<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.sanjiaomao.infrastructure.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="xyz.sanjiaomao.infrastructure.account.dataobject.UserDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.sanjiaomao.infrastructure.account.dataobject.UserDO">
      insert into user (id, name, gender,
                        birthday, id_card, account_id)
      values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER},
              #{birthday,jdbcType=TIMESTAMP}, #{idCard,jdbcType=VARCHAR}, #{accountId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="xyz.sanjiaomao.infrastructure.account.dataobject.UserDO">
      update user
      set name       = #{name,jdbcType=VARCHAR},
          gender     = #{gender,jdbcType=INTEGER},
          birthday   = #{birthday,jdbcType=TIMESTAMP},
          id_card    = #{idCard,jdbcType=VARCHAR},
          account_id = #{accountId,jdbcType=BIGINT}
      where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, gender, birthday, id_card, account_id, is_deleted
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, gender, birthday, id_card, account_id, is_deleted
    from user
  </select>
</mapper>